.menuOpen {
	margin-left: -320px;
	padding-right: 320px;
}
body {
	transition: $transition;
}
#page-home {
	#header {
		height: 480px;
		overflow: hidden;
		.max {
			position: relative;
			z-index: 1;
		}
		.wrapper {
			display: flex;
			align-items: center;
			.nav-wrapper {
				position: fixed;
				pointer-events: none;
				top: 0;
				left: 0;
				right: 0;
				.menu {
					max-width: 1080px;
					margin: 0 auto;
					display: block;
					padding: 16px;
					text-align: right;
					.toggle-menu {
						pointer-events: all;
					}
					ul {
						pointer-events: all;
						text-align: left;
						li {
							a {
								text-shadow: 0 2px 8px rgba(0,0,0,0.5);
							}
						}
					}
				}
			}
		}
		.logo {
			background: rgba(black, .2);
			box-shadow: 0 2px 8px rgba(black, .2);
			transition: $transition;
			&:hover {
				background: rgba(0, 0, 0, .5);
			}
			svg {
				width: 232px;
				opacity: .8;
				path {
					fill: white;
				}
			}

			span {
				font-size: 22px;
				font-weight: bold;
				color: white;
			}
		}
		.menu {
			display: flex;
			justify-content: flex-end;
			flex: 1;
			.toggle-menu {
				display: inline-block;
			}
			svg {
				width: 40px;
				height: 40px;
				path {
					fill: white;
				}
			}
			ul {
				position: fixed;
				z-index: 999;
				background: #291f16;
				top: 0;
				right: 0;
				bottom: 0;
				width: 320px;
				box-shadow: inset 4px 4px 24px black;
				display: flex;
				flex-direction: column;
				justify-content: center;
				opacity: 0;
				pointer-events: none;
				right: -320px;
				transition: $transition;
				&:before {
					content: '';
					background-image: url(/img/dark.jpeg);
				    background-size: 2560px;
				    background-repeat: repeat;
				    position: absolute;
				    top: 0;
				    left: 0;
				    right: 0;
				    bottom: 0;
				    opacity: .2;
				    pointer-events: none;
				    z-index: -1;
				    background-position: center center;
				}
				&.open {
					opacity: 1;
					pointer-events: all;
					right: 0;
				}
				li {
					&.back {
						a {
							background: rgba(black, .25);
						}
						.icon {
							+ .text {
								margin-left: 8px;
							}
						}
					}
					a {
						color: white;
						display: flex;
						flex-direction: row;
						align-items: center;
						padding: 12px 40px;
						cursor: pointer;
						font-size: 24px;
						
						&:hover {
							background: rgba(white, .25);
						}
						.text {
							flex: 1;
							+ .icon {
								margin-left: 8px;
							}
						}
						svg {
							width: 14px;
							height: 14px;
						}
					}
				}
			}
		}
	}
	#video {
		position: absolute;
		top: 50%;
		left: 50%;
		transform: translate(-50%, -50%);
		min-width: 100%;
		min-height: 100%;
	}
	#section-featured {
		background: url('/img/stone.jpeg');
		background-size: 2560px;
		background-repeat: repeat;
		position: relative;
    	background-position: center center;
		.price {
			font-size: 24px;
		}
	}
	#section-about {
		background: url('/img/dark.jpeg');
		background-size: 1440px;
		background-repeat: repeat;
		img {
			mask-image: linear-gradient(to right, rgba(0,0,0,0) 0%, rgba(0,0,0,1) 25%);
		}
	}
	#section-blog {
		background: url('/img/stone.jpeg');
		background-size: 2560px;
		background-repeat: repeat;
    	background-position: center center;
    	.meta {
    		span {
    			vertical-align: middle;
    			display: inline-block;
    		}
    		.seperator {
    			font-size: 6px;
    		}
    	}
	}
}