.max {
	max-width: 1080px;
	margin: 0 auto;
}
.margin {
	margin: 16px;
}
.padding {
	padding: 16px;
}
.padding-xsmall {
	padding: 4px;
}
.padding-small {
	padding: 8px;
}
.padding-large {
	padding: 40px;
}
.padding-xlarge {
	padding: 80px;
}
.margin-xsmall {
	margin: 4px;
}
.margin-small {
	margin: 8px;
}
.margin-large {
	margin: 40px;
}
.margin-xlarge {
	margin: 80px;
}
$sides: 'top', 'right', 'bottom', 'left';
@each $side in $sides {
	.padding-#{$side}-xsmall {
		padding-#{$side}: 4px;
	}
	.padding-#{$side}-small {
		padding-#{$side}: 8px;
	}
	.padding-#{$side} {
		padding-#{$side}: 16px;
	}
	.padding-#{$side}-large {
		padding-#{$side}: 40px;
	}
	.padding-#{$side}-xlarge {
		padding-#{$side}: 80px;
	}

	.margin-#{$side}-xsmall {
		margin-#{$side}: 4px;
	}
	.margin-#{$side}-small {
		margin-#{$side}: 8px;
	}
	.margin-#{$side} {
		margin-#{$side}: 16px;
	}
	.margin-#{$side}-large {
		margin-#{$side}: 40px;
	}
	.margin-#{$side}-xlarge {
		margin-#{$side}: 80px;
	}
}
img {
	max-width: 100%;
}
.align-center {
	text-align: center;
}
.align-left {
	text-align: left;
}
.align-right {
	text-align: right;
}


$border: 1px solid rgba(black, .2);

.border {
	border: $border;
}
.border-top {
	border-top: $border;
}
.border-right {
	border-right: $border;
}
.border-bottom {
	border-bottom: $border;
}
.border-left {
	border-left: $border;
}
.round {
	border-radius: $border-radius;
}

@for $i from 1 through 12 {
	.width-#{$i}, .xlarge-#{$i} {
		width: percentage($i/12);
	}
}
@each $screen-size-name, $screen-size-value in $screen-sizes {
	@media (max-width: #{$screen-size-value}) {
		@for $i from 1 through 12 {
			.#{$screen-size-name}-#{$i} {
				width: percentage($i/12) !important;
			}
		}
		.#{$screen-size-name}-none {
			display: none !important;
		}
	}
}