.carousel {
	padding: 0 40px;
	position: relative;
	.prev {
		position: absolute;
		top: 0;
		left: 0;
		bottom: 0;
		width: 40px;
		font-size: 32px;
		svg {
			position: absolute;
			margin-top: -32px;
			top: 50%;
			left: 50%;
			transform: translate(-50%, -50%);
		}
	}
	.next {
		position: absolute;
		top: 0;
		right: 0;
		bottom: 0;
		width: 40px;
		font-size: 32px;
		svg {
			position: absolute;
			margin-top: -32px;
			top: 50%;
			left: 50%;
			transform: translate(-50%, -50%);
		}
	}
	.items {
		display: flex;
		.item {
			padding: 8px;
			text-align: center;
			width: 25%;

			// 2 columns
			@media (max-width: $medium) {
				width: 50%;
				display: none;
				&.active {
					display: block;
					+ .item {
						display: block;
					}
				}
			}

			// 1 columns
			@media (max-width: $small) {
				width: 100%;
				display: none;
				&.active {
					display: block;
					+ .item {
						display: none;
					}
				}
			}
			.thumbnail {

			}
			.price {
				color: $green;
			}
			.fa-venus {
				color: $pink;
			}
		}
	}
}