.flex {
	display: flex;
	flex-wrap: wrap;

	&.align-center {
		align-items: center;
	}
	&.justify-start {
		justify-content: flex-start;
	}
	&.justify-center {
		justify-content: center;
	}
	&.justify-end {
		justify-content: flex-end;
	}
	&.nowrap {
		flex-wrap: nowrap;
	}
	&.padded {
		margin-top: -16px;
		margin-left: -16px;
		> div {
			padding-top: 16px;
			padding-left: 16px;
		}
	}
	&.padded-large {
		margin-top: -40px;
		margin-left: -40px;
		> div {
			padding-top: 40px;
			padding-left: 40px;
		}
	}
	&.vertical {
		flex-direction: column;
	}
}
.box {
	flex: 1;
}
@media(max-width: 960px) {
	.medium-vertical {
		flex-direction: column;
	}
	.medium-justify-center {
		justify-content: center;
	}
	.medium-justify-start {
		justify-content: start;
	}
}