#footer {
	background: #221d19;
	border-top: 1px solid rgba(black, .2);
	box-shadow: inset 0 1px 40px rgba(black, .5);
	padding: 40px;
	color: rgba(white, .6);;
	position: relative;
	z-index: 0;
	.h {
		color: white;
	}
	a {
		color: rgba(white, .6);
	}
	#footer-menu {
		a {
			padding-left: 0;
			padding-right: 0;
		}
	}
	.btn-sign-up {
		background: #6bac44;
		border: 1px solid rgba(white, .5);
	}
	.outline {
		outline: 2px solid white;
		color: white;
	}
	p {
		font-size: 14px;
		svg {
			font-size: 6px;
		}
	}
	.logo {
		@media (max-width: 960px) {
			text-align: left;
			span {
				text-align: left;
			}
		}
		svg {
			width: 200px;
			path {
				fill: white;
			}
		}
		span {
			font-size: 20px;
			color: white;
		}
	}
}