#header {
	position: relative;
	background: white;
	padding: 16px;
	border-bottom: 1px solid rgba(black, .2);
	box-shadow: 0 1px 8px rgba(black, .25);
	.logo {
		padding: 16px;
		border-radius: 8px;
		transition: ease all .2s;
		&:hover {
			background: rgba(0,0,0,0.1);
		}
	}
	.menu {
		ul {
			flex-direction: row;
			li {
				a {
					white-space: nowrap;
				}
			}
		}
		.toggle-menu {
			cursor: pointer;
			padding: 24px;
			transition: ease all .2s;
			border-radius: 8px;
			display: none;
			&:hover {
				background: rgba(black, 0.5);
			}
			svg {
				filter: drop-shadow(0 2px 6px rgba(0,0,0,0.5));
			}
			@media (max-width: 480px) {
				display: block;
			}
		}
	}
}