.txt {
	display: inline-block;
	padding: 14px 18px;
	border: $border;
	border-radius: $border-radius;
	transition: $transition;
	vertical-align: middle;
	font-size: 1rem;
	&:hover {
		border: $border-hover;
		box-shadow: $shadow-hover;
	}
	&:focus, &:active {
		border: $border-active;
		box-shadow: $shadow-active;
	}
}
.btn {
	text-decoration: none;
	font-size: 1rem;
	display: inline-block;
	vertical-align: middle;
	padding: 12px 24px;
	border: $border;
	font-family: $font-heading;
	border-radius: $border-radius;
	transition: $transition;
	cursor: pointer;
	text-transform: uppercase;

	.text, .icon {
		vertical-align: middle;
		display: inline-block;
	}
	.icon {
		font-size: 14px;
	}
	.text + .icon {
		margin-left: 4px;
	}

	&.brown {
		background: #594a43;
	}

	&.outline {
		background: transparent;
		outline: 2px solid #615148;
		color: #615148;
		border: 0;
		border-radius: 0;
		&:hover {
			background: #615148;
			color: white;
			border: 0;
		}
	}

	// Colors
	@each $color-name, $color-value in $colors {
		&.#{$color-name} {
			background: $color-value;
			border: 1px solid darken($color-value, 10%);
			color: white;
			&:hover {
				background: lighten($color-value, 10%);
				border: 1px solid darken($color-value, 10%);
			}
		}
	}

	@extend .btn.blue;
}
.label {
	font-size: 12px;
	display: block;
	margin-bottom: 4px;
}