html, body {
	margin: 0;
	padding: 0;
	height: 100%;
	font-family: $font;
	font-size: 16px;
}
* {
	box-sizing: border-box;
}
.h {
	font-weight: bold;
	font-size: .8em;
	letter-spacing: 4px;
	text-transform: uppercase;
	margin-bottom: 8px;
}
.logo {
	font-family: $font-logo;
	text-decoration: none;
	display: block;
	text-align: center;
	flex-direction: column;
	svg {
		height: auto;
		filter: drop-shadow(0 2px 6px rgba(0,0,0,.5));
	}
	span {
		color: $color;
		display: block;
		text-align: center;
		white-space: nowrap;
		text-shadow: 0 2px 8px rgba(0,0,0,0.75);
	}
}

.overflow-hidden {
	overflow: hidden;
}
.relative {
	position: relative;
}
.texture {
	position: relative;
	overflow: hidden;
	&:before {
		content: '';
		display: block;
		top: 0;
		left: 0;
		right: 0;
		bottom: 0;
		position: absolute;
		background: url('../img/texture.jpg');
		z-index: -1;
		opacity: .4;
	}
}
#cookie-consent {
	z-index: 999;
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	text-align: center;
	padding: 8px 16px;
	background: $blue;
	color: rgba(white, .6);
	a {
		color: white;
	}
	@media (max-width: 760px) {
		font-size: 12px;
		flex-direction: column;
		.col-btn {
			padding-top: 8px;
			.btn {
				padding: 4px 8px;
			}
		}
	}
	.btn {
		border: 1px solid white;
		background: rgba(white, .2);
	}
}
.shadow {
	box-shadow: $shadow;
}
.block {
	display: block !important;
}
.tip-top {
	position: relative;
	&:before {
		content: '';
		position: absolute;
		left: 50%;
		top: -6px;
		transform: translateX(-50%) rotate(45deg);
		border-left: 1px solid rgba(black, 0.2);
		border-top: 1px solid rgba(black, 0.2);
		background: white;
		width: 10px;
		height: 10px;
	}
}
.icon-medium {
	width: 24px !important;
	height: 24px !important;
}