#interior {
	.menu {
		ul {
			li {
				position: relative;
				a {
					border-radius: 4px;
					padding: 6px 12px;
					display: flex;
					align-items: center;
					.text {
						+ .icon {
							margin-left: 8px;
						}
					}
					.icon {
						svg {
							display: block;
							transform: rotate(90deg);
						}
					}
				}
				ul {
					left: auto;
					right: 0;
					flex-direction: column;
					li {
						a {
							text-align: left;
							border-radius: 0;
						}
					}
					li.back {
						display: none;
					}
					svg.fa-caret-right {
						margin-left: 4px;
						transform: rotate(90deg);
					}
				}
			}
		}
	}
}
.menu {
	.toggle-menu {
		box-shadow: 0 2px 8px rgba(black, .2);
		transition: $transition;
		background: rgba(black, .2);
	}
	ul {
		padding: 0;
		margin: 0;
		display: flex;
		flex-direction: column;
		li {
			display: block;
			list-style: none;
			a {
				padding: 4px 8px;
				text-decoration: none;
				color: $color;
				display: block;
				cursor: pointer;
				transition: $transition;
			}
			&:hover {
				> a {
					background: rgba(black, 0.1);
				}
			}
			ul {
				//display: none;
				opacity: 0;
				position: absolute;
				//overflow: hidden;
				pointer-events: none;
				background: white;
				border: 1px solid rgba(black, .2);
				border-radius: 4px;
				box-shadow: $shadow;
				transition: $transition;
				padding: 8px 0;
				&.open {
					opacity: 1;
					pointer-events: all;
				}
				li {
					a {
						border-radius: 0;
					}
				}
			}
		}
	}
	&.horizontal {
		ul {
			flex-direction: row;
		}
	}
}