@import url('https://fonts.googleapis.com/css?family=Alegreya:400,400i,700|Cinzel:400,700|PT+Sans:400,400i,700|PT+Serif:400,400i,700');
body {
	font-family: $font;
	font-size: 18px;
}
p {
	line-height: 1.4;
	margin: .75em 0;
}
h1, h2, h3, h4, h5, h6 {
	font-family: $font-heading;
	font-weight: normal;
	color: $heading-color;
	margin: .75em 0;
	&:first-child {
		margin-top: 0;
	}
	&:last-child {
		margin-bottom: 0;
	}
}
h1 {
	font-size: 48px;
}
h2 {
	font-size: 40px;
}
h3 {
	font-size: 24px;
	text-transform: uppercase;
}