// Colors
$blue: #648888;
$green: #6dac44;
$pink: #e9457b;
$colors: (
  'blue': $blue,
);
$color: rgba(black, .8);

// Font
$font: 'PT Sans', sans-serif;
$font-heading: 'Alegreya', serif;
$font-logo: 'Cinzel', serif;
$heading-color: #68554b;
//font-family: 'Alegreya', serif;
//font-family: 'Cinzel', serif;
//font-family: 'PT Serif', serif;
//font-family: 'PT Sans', sans-serif;

// Border
$border: 1px solid rgba(black, .1);
$border-hover: 1px solid $blue;
$border-active: 1px solid $blue;

// Shadow
$shadow: 0 1px 8px rgba(black, .25);
$shadow-hover: none;
$shadow-active: none;
$shadow-large: 0 4px 24px rgba(black, .25);

// Misc
$transition: .25s ease all;
$border-radius: 4px;


$xlarge: 1280px;
$large: 1024px;
$medium: 768px;
$small: 480px;
$xsmall: 320px;

$sizes: xsmall, small, medium, large, xlarge;
$sizes-reverse: reverse($sizes);
$screen-sizes: (
	xlarge: $xlarge,
	large: $large,
	medium: $medium,
	small: $small,
	xsmall: $xsmall
);